@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center mb-5">
    <h1 class="fw-semibold">Nossa Lista de Casamento</h1>
    <p class="text-muted">
        Escolha um presente e faça parte desse momento especial 💕
    </p>

    <a asp-page="/Wishlist/Index" class="btn btn-primary btn-lg mt-3">
        Ver Lista de Presentes
    </a>
</div>
